<footer class="footer">
    <div class="footer-section section-1 ">
        <p>&copy; 2024 MoveOut. All rights reserved.</p>
    </div>
    <div class="footer-section section-2 ">Contact</div>
    <div class="footer-section section-3 ">About</div>

</footer>

</body>
</html>